<%= render partial: 'books/header_layout' %>

<div class="screen-field">

  <%= render partial: 'books/side_ber' %>

  <div class='main-wrapper'>
    <div class='user-nickname'>
      <h2>【 <%= @nickname %>の投稿一覧 】</h2>
    </div>
    <div class='show-user'>
      <% @books.each do |book| %>
        <%= link_to book_path(book.id) do %>
          <div class='item-wrapper'>
            <%= image_tag '/images/book-image.png', height: '10%', width: '10%' %>
            <div class='book-item-show'>
              <div>
                <%= book.title %>
                <%= book.author %>
              </div>
              <div>
                <%= book.impression %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'books/footer_layout' %>
