<div class="screen-field">

  <%= render partial: 'books/side_ber' %>

  <div class='main-wrapper'>
    <div class='user-nickname'>
      <%= @nickname %>の投稿一覧
    </div>
    <div class='user-screen'>
      <% @books.each do |book| %>
        <div class='user-show'>
          <%= link_to book_path(book.id), class: 'book-anchor' do %>
            <div class='user-contents'>
              <%= image_tag '/images/book-image.png', height: '15%', width: '15%' %>
              <div class='book-item-show'>
                <div>
                  <%= book.title %>
                  <%= book.author %>
                </div>
                <div>
                  <%= book.impression %>
                </div>
              </div>
            </div>
          <% end %>
          <div class='guide-show'>
            <%= link_to '削除', book_path(book.id), method: :delete %>
            <%= link_to '編集', edit_book_path(book.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>