<%= render partial: 'books/header_layout' %>

<div class="screen-field">

  <%= render partial: 'books/side_ber' %>

  <div class='main-wrapper'>
    <div class='user-nickname'>
      <h2>【 <%= @nickname %>の本棚 <i class="fa fa-calendar" aria-hidden="true"></i> 】</h2>
    </div>
    <div class='show-user'>
      <% @books.each do |book| %>
          <div class='item-wrapper'>
            <%= link_to book_path(book.id) do %>
              <%= image_tag '/images/book-image.png', height: '70%', width: '70%' %>
              <div class='book-item-show'>
                <div>
                  <%= "作成者：#{book.title}" %>
                  <br />
                  <%= "著者：#{book.author}" %>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
