<div class='main-field-wrapper'>
  <% @books.each do |book| %>
    <%= link_to book_path(book.id), class: 'book-anchor' do %>
      <div class="book-item">
        <div class='post-info'>
          <div>
            <%= "タイトル：#{book.title}" %>
            <%= "著者：#{book.author}" %>
          </div>
          <div>
            <%= book.user.nickname %>
            <%= book.created_at %>
          </div>
        </div>
        <p>
          <%= book.impression %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>