<div class='main-field-wrapper'>
  <h2>【 BooksList 】</h2>
  <% @books.each do |book| %>
    <%= link_to book_path(book.id) do %>
      <div class='item-wrapper'>
        <%= image_tag '/images/book-image.png', height: '10%', width: '10%' %>
        <div class='book-info'>
          <div class='book-title'>
            <%= book.title %>
            <%= book.author %>
          </div>
          <div class='book-post'>
            <%= book.user.nickname %>
            <%= book.created_at %>
          </div>
        </div>
        <div>
          <%= book.impression%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
