<div class='main-field-wrapper'>
  <h2>【 投稿一覧 】</h2>
  <% @books.each do |book| %>
      <p>
        <div class="book-content">
          <div class='book-image'>
            <%=link_to image_tag('/images/book-image.png', height: '80%', width: '80%'), book_path(book.id) %>
          </div>
          <div class='arrow_box'>
            <div class='book-info'>
              <div class='book-title'>
                <p>
                  <%= "作品名：#{book.title}" %>
                  /
                  <%= "著者：#{book.author}" %>
                </p>
              </div>
              <div class='book-post'>
                <%= link_to "投稿者：#{book.user.nickname}", user_path(book.user.id) %>
              </div>
            </div>
            <div>
              <%= book.impression%>
            </div>
          </div>
        </div>
      </p>
  <% end %>
</div>
