<div class="screen-field">
  <div class='side-wrapper'>
    <%= render partial: 'side_ber' %>
  </div>
  <div class='main-wrapper'>
    <div class='show-info'>
      <h1><%= @book.title %></h1>
      <h3><%= @book.author %></h3>
      <p><%= @book.impression %></p>
      <div class='post-user'>
        <%= @book.user.nickname %>
      </div>
    </div>
  </div>
</div>
