<div class="screen-field">

  <%= render partial: 'books/side_ber' %>

  <div class='main-wrapper'>
    <div class='show-info'>
      <span><%= "投稿者：#{@book.user.nickname}" %></span>
      <p><h1><%= @book.title %></h1></p>
      <%= image_tag '/images/book-image.png', height: '40%', width: '40%' %>
      <h3><%= "著者：#{@book.author}" %></h3>
    </div>
    <div class='item-impression'>
      <p><%= @book.impression %></p>
    </div>
    <div>
      
    </div>
  </div>
</div>
