<%= render partial: 'header_layout' %>

<div class="screen-field">

  <%= render partial: 'books/side_ber' %>

  <div class='main-wrapper'>
    <div class='show-info'>
      <span><%= link_to "投稿者：#{@book.user.nickname}", user_path(@book.user.id) %></span>
      <p><h1><%= @book.title %></h1></p>
      <%= image_tag '/images/book-image.png', height: '40%', width: '40%' %>
      <h3><%= "著者：#{@book.author}" %></h3>
    </div>
    <div class='item-impression'>
      <p><%= @book.impression %></p>
    </div>
    <% if @book.user.id == current_user.id %>
      <div class='book-nav'>
        <div class='book-guide'> 
          <%= link_to edit_book_path(@book.id) do %>
            <i class="fa fa-edit fa-2x" aria-hidden="true" >編集</i>
          <% end %>
          <p class='text-p'>or</p>
          <%= link_to book_path(@book.id), method: :delete do %>
            <i class="fa fa-trash-o fa-2x" aria-hidden="true">削除</i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='comment-container'>
      <div class='comments'>
        <h3>【  コメント一覧  】</h3>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <%=link_to comment.user.nickname, user_path(comment.user.id) %>
              ：
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? && current_user.id != @book.user.id %>
        <%= form_with(model: [@book, @comment], local: true) do |form| %>
          <%= form.text_area :text, rows: '5',  placeholder: 'コメントを入力してください', class: 'comment-form' %>
          <%= form.submit '送信', class: 'comment-form' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
