<!DOCTYPE html>
<html>
  <head>
    <title>ReadingBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header-wrapper'>
      <div class='header-container'>
        <div class='app-title'>
          <h1><a href="/">ReadingBook</a></h1>
        </div>
        <div class='user-nav'>
          <div class='user-guide'>
            <%= link_to 'ログイン', new_user_session_path %>
          </div>
          <div class='user-guide'>
            <%= link_to '新規登録', new_user_registration_path %>
          </div>
        </div>
      </div>
    </header>
    <div class='screen-field'>
      <div class='side-wrapper'>
        <%= render 'books/side_ber' %>
      </div>
      <div class='main-wrapper'>
        <%= yield %>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
