<!DOCTYPE html>
<html>
  <head>
    <title>ReadingBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header-wrapper'>
      <div class='header-container'>
        <div class='app-title'>
          <h1><a href="/">ReadingBook</a></h1>
        </div>
        <div class='user-nav'>
          <% if user_signed_in? %>
            <div class='user-guide'>
              <%= link_to current_user.nickname , url='#'%>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              <%= link_to '新規投稿', new_book_path %>
            </div>
          <% else %>
            <div class='user-guide'>
              <%= link_to 'ログイン', new_user_session_path %>
              <%= link_to '新規登録', new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
