<!DOCTYPE html>
<html>
  <head>
    <title>ReadingBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header-wrapper'>
      <div class='header-container'>
        <div class='app-title'>
          <h1><a href="/">ReadingBook</a></h1>
        </div>
        <div class='user-nav'>
          <div class='user-guide'>
            <a href='#'>ログイン</a>
          </div>
          <div class='user-guide'>
            <a href='#'>新規登録</a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
